* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(28, 126, 206);
}
#container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20em;
  left: 50em;
}
#list {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40em;
  top: 1em;
}
#playlist {
  position: relative;
  left: 5em;
  top: 1em;
  list-style: none;
}

#playlist li {
  width: 5em;
  height: 2em;
  text-decoration: solid;
  font-weight: 560;
  font-size: 200%;
  font-style: italic;
}
#buttons {
  position: relative;
  left: 3em;
  top: 1em;
}
button {
  border-radius: 15px;
  padding: 15px;
  background-color: hwb(113 5% 27%);
}
