* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
}
.buttons {
  position: absolute;
  top: 11rem;
  left: 43rem;
}
#rect img {
  width: 100x;
  height: 100px;
}
#line img {
  width: 100px;
  height: 100px;
}
#circ img {
  width: 100px;
  height: 100px;
}
svg {
  border: 3px solid green;
  height: 37rem;
  width: 50rem;
  position: absolute;
  top: 20rem;
  left: 30rem;
}
